@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 14px;
}

body {
    @apply font-sans;
}

table tbody tr td {
    padding: 6px !important;
}

table thead tr th {
    padding: 6px !important;
}
/* ::-webkit-input-placeholder {
    background-color: #f9fafb !important;
}

:-ms-input-placeholder {
    background-color: #f9fafb !important;
}

::placeholder {
    background-color: #f9fafb !important;
} */

input,
textarea,
select {
    background-color: #f9fafb;
}

select {
    z-index: 1;
}